* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/****************************** Font family *************************/
/* gilroy */
@font-face {
  font-family: "Gilroy-Bold";
  src: url("./assets/fonts/gilroy-bold.ttf");
}
@font-face {
  font-family: "Gilroy-Semibold";
  src: url("./assets/fonts/gilroy-semiBold.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("./assets/fonts/gilroy-medium.ttf");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("./assets/fonts/gilroy-regular.ttf");
}
/* Inter */
@font-face {
  font-family: "Inter-Regular";
  src: url("./assets/fonts/Inter-Regular.ttf");
}

/***************************** Colors font ****************************/
:root {
  /* color */
  --colorBlack: #262728;
  --colorPrimary: #3d639d;
  --colorSilver: #bbc2d0;
  --colorGreen: #00c48c;

  /* background */
  --backgroundPrimary: #3d639d;
  --backgroundGreen: #00c48c;
  --backgroundSilver: #f3f5f8;
  --backgroundRed: #ff647c;

  /* padding */
  --width: 1440px;
}

a {
  text-decoration: none;
}
